* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --adaptive-img: center/cover no-repeat scroll;
    --container-width: 1140px;
    font-size: 0.625rem;
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff!important;
}
div[class="wrapper"] {
    width: var(--container-width);
    margin: 0 auto;
}
div[class="inner"] {
    margin: 60px auto;
}
a {
    text-decoration: none;
    color: #fff;
}
img {
    max-width: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
ul {
    list-style: none
}
p, a {
    font: 500 1.6em/1.6 "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font: 400 4.8em/1.2 "Bangers", sans-serif;
    letter-spacing: 4px;
}
.btn {
    display: inline-block;
    text-transform: uppercase;
    background-color: #e0c0aa;
    padding: 10px 30px;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.btn:hover {
    background-color: #d5ab8d;
}
.hiking .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 565px;
}
.hiking {
    background: url('../content/images/1.jpeg') var(--adaptive-img);
}
.hiking__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
.hiking__box:first-of-type {
    padding-left: 20px;
}
.hiking__title {
    font-size: 6em;
    margin: 25px 0 15px;
}
.hiking__box-links {
    display: flex;
    margin-bottom: 20px;
}
.hiking__image {
    display: inline-block;
    width: 32px;
    height: auto;
    filter: invert(100%);
    padding: 0 4px;
}
.hiking__image:not(:last-of-type) {
    margin-right: 10px;
}
.hiking__box:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
}
.hiking__picture {
    width: 273px;
}
.about {
    background-color: #000;
}
.about__gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.about__content-box {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__title {
    margin: 40px 0 20px;
    letter-spacing: 1px;
}
.about__subtitle {
    margin-bottom: 40px;
}
.about__btn {
    margin: 15px 0 25px;
    align-self: flex-start;
}
.about__image-first {
    background: url('../content/images/man.png') var(--adaptive-img);
}
.about__image-second {
    background: url('../content/images/0888705b6f0ac7a002dfc0669e561475.png') var(--adaptive-img);
}
.gallery {
    background-color: #000;
}
.gallery__gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 135px);
    grid-template-areas: 
    'a b c'
    'a b c'
    'a e c'
    'd e g'
    'd f g'
    'd f g';
    grid-gap: 20px;
}
.gallery__grid-elem {
    background: var(--adaptive-img);
}
.gallery__grid-elem:nth-of-type(1),
.gallery__grid-elem:nth-of-type(7) {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.gallery__grid-elem:nth-of-type(1) {
    background-image: url('../content/images/1.jpeg');
    grid-area: a;
}
.gallery__grid-elem:nth-of-type(2) {
    background-image: url('../content/images/2.jpeg');
    grid-area: b;
}
.gallery__grid-elem:nth-of-type(3) {
    background-image: url('../content/images/3.jpeg');
    grid-area: c;
}
.gallery__grid-elem:nth-of-type(4) {
    background-image: url('../content/images/4.jpeg');
    grid-area: d;
}
.gallery__grid-elem:nth-of-type(5) {
    background-image: url('../content/images/5.jpeg');
    grid-area: e;
}
.gallery__grid-elem:nth-of-type(6) {
    background-image: url('../content/images/6.jpeg');
    grid-area: f;
}
.gallery__grid-elem:nth-of-type(7) {
    background-image: url('../content/images/map.jpeg');
    grid-area: g;
}
.gallery__title {
    margin: 20px 0;
    font-size: 3em;
}
.gallery__subtitle {
    font: italic 400 1.4em "Open Sans", sans-serif;
    margin-bottom: 40px;
}
.norway {
    background-color: #000;
}
.norway__subtitle {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    width: 70%;
}
.norway__gridbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}
.norway__wrap-content {
    padding: 0 20px;
}
.norway__content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.norway__image {
    margin-bottom: 30px;
}
.norway__title {
    letter-spacing: 2px;
}
.norway__text {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
}
.norway__text,
.norway__btn,
.norway__title {
    margin-bottom: 25px;
}
.info {
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.4), rgba(10, 10, 10, 0.4)), url('../content/images/0ae.jpeg') var(--adaptive-img);
}
.info .container {
    min-height: 351px;
}
.info__title {
    margin: 30px 0;
    letter-spacing: 2px;
}
.info__subtitle {
    margin-bottom: 20px;
}
.info__wrap-content {
    width: 45%;
    padding-left: 40px;
}
.info__elem-title {
    margin-bottom: 10px;
    font-size: 9.6em;
    font-weight: 400;
    line-height: 1.1;
}
.info__elem-subtitle,
.info__subtitle,
.trekking__subtitle {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
}
.info__gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 40px 0 20px;
}
.info__grid-elem {
    text-align: center;
}
.trekking {
    background: url('../content/images/2334.jpeg') var(--adaptive-img);
}
.trekking .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    min-height: 359px;
    align-items: center;
}
.trekking__grid-elem {
    padding: 0 15px;
}
.trekking__title {
    margin: 20px 0;
    letter-spacing: 2px;
}
.trekking__subtitle {
    margin-bottom: 40px;
}
.trekking__btn {
    margin: 10px 0 20px;
}
.trekking__list {
    list-style: disc inside;
}
.trekking__list-item {
    font: 500 1.4em/1.6 "Open Sans", sans-serif;
}
.staff .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    margin: 10px 50px;
}
.staff__person-box {
    padding: 0 30px;
}
.staff__person-box {
    display: flex;
    flex-direction: row-reverse;
}
.staff__person-box:first-child {
    margin-bottom: 60px;
    flex-direction: row;
}
.staff__image {
    width: 140px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0 90px;
}
.staff__person__description {
    padding: 0 60px;
}
.staff__text {
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 20px;
}
.staff__person-name {
    font-size: 3em;
    letter-spacing: 2px;
}
.picture {
    background: url('../content/images/0ae.jpeg') var(--adaptive-img);
    min-height: 400px;
}
.contacts .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 300px 30px 20px;
    grid-gap: 60px;
}
.contacts__box-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts__text-info {
    margin-right: 50px;
    padding-left: 20px;
}
.contacts__image {
    width: 150px;
    margin: 0 5px;
}
.contacts__box-content {
    padding: 0 50px;
}
.contacts__title {
    margin-bottom: 20px;
    font-size: 3.6em;
}
.contacts__link {
    color: #f5cfb6;
    font-size: 1em;
}
.contacts__link:hover {
    color: #555;
}
.contacts__subtitle {
    margin: 10px 0 5px;
    font-size: 1.4em;
    font-style: italic;
    font-weight: 400;
}
.footer {
    --footer-width: 90px;
    background-color: #555;
    min-height: var(--footer-width);
}
.footer__text {
    text-align: center;
    line-height: var(--footer-width);
    vertical-align: middle;
}